<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="quiz2.css">
		<title>Quiz 2</title>
	</head>
	<body>
		
		<div class="content">
			<h1>Hi, Welcome to the second quiz!</h1>
			<p>Make sure the containers below respond to the events or functions implemented with quiz2.js</p>
			<div class="events">			
				<div class="click">
					<span>click event</span>
				</div>
				<div class="mouse-over">
					<span>mouse over event</span>
					<p>Who's the richest person you know? (mouse over to find out)</p>
				</div>
				<div>
					<span>submit event</span>
					<!-- The form not having an action or method is not a bug in this case -->
					<form>
						<label for="form">AJAX, yo!</label>
						<input type="text" id="form" name="form" placeholder="Enter Some Text" />
						<input type="submit" class="submit" value="SUBMIT"> <!-- I added the class of "submit to this element and changed it to a submit button instead of a textbox?" -->
					</form>
				</div>
				<div class="timeout">
					<span>timeout function</span>
				</div>
				
				<!-- The following div is for the "Get Title" button for section 2 of the quiz-->
				<div class="section2">
					<h3>This Button Was Added for Section 2 of the Quiz</h3>
					<input type="button" id="getTitle" value="Get Title"></input>
					<ul class="section2List">
					</ul>
				</div>
			</div>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="quiz2.js"></script>
	</body>
</html>